
.photo_1 {
    width: 300px;
}

.movieStyleOne {
    width: 300px;
    background-color: plum;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movieTitle{
    padding: 5px;
    display: flex;
    gap: 10px;
}